
p Please find attached your payment confirmation for this job. Thank you for arranging it through Oliver James. If you have any questions, please contact us on support #{config.CONTACT_EMAIL},

include _footer