p Thank you registering with Oliver James - High quality agency carers at affordable prices.

br
p Please click the link below to confirm your email address
br
a(href="http://#{config.DOMAIN}#{paths..emails.EMAIL_CONFIRMATION}?token=#{emailConfirmation.token}") Confirm email

include _footer
