//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

p You have made a password reset request for your Oliver James account. Please click this link and you will be taken to a site where you can reset your password
br

p If you did not request a password reset, please delete this email
br

a(href="http://#{config.DOMAIN}#{paths.PASSWORD_REMIND}?token=#{passwordReminder.token}") Click here to reset password
include _footer