//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

h3 Hello #{user.first_name}!
p You have been requested forgot password. To complete this process, click link below.

br
a(href="http://#{config.DOMAIN}#{config.RESET_PASSWORD_URL}?token=#{passwordReminder.token}") Change password
br

p Best regards
p Plan on plan Team